.profile-tab.nav-tabs {
  li {
    .nav-link {
      border: 0;
	  padding: 15px 20px;
      &.active {
        border-bottom: 2px solid #009efb;
        color: #009efb;
      }
    }
  }
}

.steamline {
  .sl-left {
    margin-left: -20px;
  }
}

.rtl {
  .steamline {
    .sl-left {
      margin-left: 0 !important;
      margin-right: -20px !important;
    }
  }
}